*{
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.img img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.card{
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.699);
  border-radius: 10px;
  display: none;
  margin: 50px auto 0;

}
.card h2{
  font-size: 24px;
  font-weight: 600;
  padding-top: 20px;
}
.card h4{
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
}

.buttons{
  text-align: center;
}

button{
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}









/* h2{
  color: white;
  background-color: red;
  padding: 20px;
  text-align: center;
}
.buttons{
  text-align: center;
}
button{
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}
.blue{
  background-color: blue;
}
.yellow{
  background-color: yellow;
  color: black;
}
.green{
  background-color: green;
}
.teal{
  background-color: teal;
}
.black{
  background-color: black;
}
.pink{
  background-color: pink;
  color: black;
} */
