*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkslategray;
}

h2{
  font-size: 36px;
  color: #fff;
  padding-bottom: 20px;
}
h3{
  color: #fff;
  padding-top: 15px;
  font-size: 20px;
}
h4{
  color: #e4d500;
  font-size: 24px;
  padding-bottom: 10px;
}

.input-box{
  display: flex;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;

}
input{
  flex: 1;
  outline: 0;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
}
button{
  padding: 10px 20px;
  border: none;
  background-color: rgba(255, 81, 0, 0.764);
  cursor: pointer;
}
.sec, .third{
  display: none;
}
